#results{
    position: absolute;
    align-items: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    height: calc(3vw + 4rem);
    width: calc(10vw + 6rem);
    color:rgb(196, 206, 233);
    background-color: rgba(0,0,0,0.9);
}